    <div class="nav1">
        <img class="logo" src="/src/assets/images/google-logo.png" alt="logo Google">
        <p>Watches</p>
        <p>Smart Home</p>
        <p>Accessories</p>
        <p>Subscriptions</p> 
    </div>
    <div class="nav2">
        <img src="/src/assets/icons/Search.svg" alt="buscar">
        <img src="/src/assets/icons/Help.svg" alt="ayuda">
        <img id="cart-icon" src="/src/assets/icons/Cart.svg" alt="carrito">
        <span id="cart-count" class="cart-count">0</span>
        <img src="/src/assets/icons/Avatar.svg" alt="avatar">
    </div>
