<nav>
    <div class="nav1">
        <div class="menu-toggle">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <img class="logo" src="../src/assets/images/google-logo.png" alt="logo Google">
        <a href="/product/google_pixel.html"><p>Pixel 9</p></a>
        <a href="/product/google_funda.html"><p>Fundas Pixel</p></a>
        <a href="/product/google_fitbit.html"><p>Google Fitbit</p></a>
        <a href="/product/google_tablet.html"><p>Google tablet</p></a>
        
    </div>
    <div class="nav2">
        <img src="../src/assets/icons/Search.svg" alt="buscar">
        <img src="../src/assets/icons/Help.svg" alt="ayuda">
        <img id="cart-icon" src="../src/assets/icons/Cart.svg" alt="carrito">
        <span id="cart-count" class="cart-count">0</span> <!-- Contador de unidades -->
        <img src="../src/assets/icons/Avatar.svg" alt="avatar">
        
    </div>
</nav>