    <div class="foot1">
        <img src="src/assets/icons/SM-x.svg" alt="x">
        <img src="src/assets/icons/SM-instagram.svg" alt="ig">
        <img src="src/assets/icons/SM-facebook.svg" alt="fb">
        <img src="src/assets/icons/SM-youtube.svg" alt="ytb">
        <img src="src/assets/icons/SM-tiktok.svg" alt="tk">
    </div>
    <div class="foot2">
        <img src="src/assets/icons/Spain.svg" alt="spn">Spain
        <p>Privacy</p>
        <p>Google Nest Commitment to Privacy</p>
        <p>Sales Terms</p> 
        <p>Terms of Service</p>
    </div>